.about{
    &__container{
        min-height: 100vh;
        align-content: center;
        gap: 2.5em;
    }
    @include desktop{
        &__container{
            grid-template-columns: 35% minmax(120px,470px);
            justify-content: space-around;
        }

    }
    &__content{
        text-align: center;
        @include desktop{
            display: grid;
            align-self: center;
            text-align: initial;
        }
    }
    &__wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 1rem;
        transition-delay: .5s;
    }
    &__title{
        font-size: var(--title-fs);
    }
    &__text{
        text-align: justify;
        line-height: 1.6em;
    }
    &__btn{
        @include btn
    }
    &__img{
        overflow: hidden;
    }
    &__img-one, 
    &__img-two{
        display: block;
        transition: transform .5s ease-in-out;
        &:hover{
            transform: scale(1.5);
        }
    }
    &__img-one{
        width: 155px;
        @include laptop{
            width: 180px;
        }
    }
    &__img-two{
        width: 200px;
        @include laptop{
            width: 275px;
        }
    }
}