.about__container.container.grid   
    .about__content.slide-in.from-left
        h2.about__title More information 
                    br 
                    |about the best beaches
        p.about__text You can find the most beautiful and pleasant places at the best prices with special discounts, you choose the place we will guide you all the way to wait, get your place now.
        a(class='about__btn' href="#places") Reserve a place
    .about__wrapper.slide-in.from-right 
        .about__img
            img(class="about__img-one" src="./assets/img/about1.jpg", alt="boat in the ocean")
        .about__img
            img(class="about__img-two" src="./assets/img/about2.jpg", alt="boat in the ocean")