.experience__container.container.grid    
    h2.experience__title With Our Experience <br> We Will Serve You
    .experience__description
        .experience__data.slide-in.from-top 
            h2.experience__number 20
            span.experience__text Year
                br 
                |Experience
        .experience__data.slide-in.from-top 
            h2.experience__number 75
            span.experience__text Complete 
                br 
                |tours
        .experience__data.slide-in.from-top 
            h2.experience__number 650+
            span.experience__text Tourist
                br 
                |Destination
    .experience__wrapper.slide-in.from-top
        .experience__img-overlay
            img(class="experience__image experience__image-one" src="./assets/img/experience1.jpg", alt="alt")
        .experience__img-overlay 
            img(class="experience__image experience__image-two" src="./assets/img/experience2.jpg", alt="alt")