.home__container.container.grid
    .home__data.slide-in.from-top
        span.home__data-subtitle Discover your place
        h1.home__data-title Explore The
                        br 
                        |Best Beautiful
                        br
                        |Beaches
        a(class='home__data-btn' href="#discover") Explore
    .social.slide-in.from-top 
        ul.social__nav 
            li.social__item
                a(class='social__link' href="#")
                    <i class="fab fa-facebook-square"></i>
            li.social__item
                a(class='social__link' href="#")
                    <i class="fab fa-instagram"></i>
            li.social__item
                a(class='social__link' href="#")
                    <i class="fab fa-twitter"></i>
    .home__info.slide-in.from-top  
        .home__info-wrapper
            span.home__info-text 5 best places to visit 
            a( class="home__info-link" href="#places") More +
        .home__info-overlay
            img( class="home__info-img" src="./assets/img/home2.jpg", alt="alt")
