.tour__container.container.grid    
    h1.tour__title Video Tour
    p.tour__description.slide-in.from-left Find out more with our video of the most beautiful and pleasant places for you and your family.
    .tour__content.slide-in.from-right
        video(src="./assets/video/video.mp4" class="tour__video" id="tourVideo") 
        button.tour__btn#tourBtn
            <i id="tourIcon" class="fas fa-play"></i> 